# Notitzen

In [6]:
temp = 30.2
temp_room_1 = 30.5

In [26]:
print(f"sdfsdfsd {int(temp):05}")

sdfsdfsd 00030

In [27]:
for letter in "Fabian":
    print(letter)

F
a
b
i
a
n

In [29]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [34]:
for i in range(10):
    
    if i == 5:
        continue
    if i > 6:
        break

    print(i)

0
1
2
3
4
6

In [35]:
i

7

In [36]:
sum = 0
for i in range(1,20):
    if i%2 == 0:
        print(i)
        sum += i

print(f"The sum is {sum}")

2
4
6
8
10
12
14
16
18
The sum is 90

In [ ]:
def print_name(age:int, name:str = "Fabian")->None:
    """ 
    Prints the name of a person

    Parameters:
        name (str):     Name of a person
        age (int):      Age of a person

    Returns:
        None
    """
    print(f"Hello {name}, i am {age} years old")

In [45]:
print_name(25)

Hello Fabian, i am 25 years old

In [41]:
print_name(name="Julia")

Hello Julia

In [7]:
def add(x,y,*xargs):
    print(xargs)
    print(type(xargs))

add(2,3,4,5)

(4, 5)
<class 'tuple'>

In [9]:
def add_2(x,y,**kwargs):
    print(kwargs)
    print(type(kwargs))

add_2(x = 1,y = 4, z = 10, z1 = "asdsa", z2 = "test")

{'z': 10, 'z1': 'asdsa', 'z2': 'test'}
<class 'dict'>

In [13]:
(1,2) in (1,2,3,4,(1,2))

True

In [14]:
1 in (1,2,3,4,(1,2)) and 2 in (1,2,3,4,(1,2))

True

In [20]:
x,y, *z, z2 = (1,2,3,5)

In [21]:
x,y

(1, 2)

In [22]:
z2

5

In [23]:
z

[3]

In [25]:
x = [1,2,3]
x.extend([5,4])
x

[1, 2, 3, 5, 4]

In [26]:
x = [1,2,3]
x.append([5,4])
x

[1, 2, 3, [5, 4]]

In [30]:
x.reverse()
x

[[5, 4], 3, 2, 1]

In [31]:
x[::-1]

[1, 2, 3, [5, 4]]

In [ ]:
def list_add(item, mylist:list=None)->list:
    if mylist is None:
        mylist = []
        mylist.append(item)
    return mylist

In [33]:
empty_set = set()
type(empty_set)

set

In [35]:
my_dict = {}

my_dict["Name"] = "Fabian"
my_dict["Name"]

'Fabian'

In [38]:
my_dict["Name"] = "Robert"
my_dict

{'Name': 'Robert'}

In [41]:
my_dict["Age"] = 4
my_dict

{'Name': 'Robert', 'Age': 4}

In [48]:
my_dict_2 = {}
my_dict_2["Person1"] = {"Name": "Robert", "Age": 5}
my_dict_2["Person2"] =  {"Name": "Fabian", "Age": 5}
my_dict_2["Person1"]["Age"]

5

In [43]:
for x,y in my_dict.items():
    print(x,y)

Name Robert
Age 4

In [53]:
my_dict["Test3"]

KeyError: 'Test3'

In [55]:
my_dict

{'Name': 'Robert', 'Age': 4, 'Test': 4, 'Test2': None, 'Test3': None}

In [54]:
my_dict.setdefault("Test3")

In [56]:
my_dict_2

{'Person1': {'Name': 'Robert', 'Age': 5},
 'Person2': {'Name': 'Fabian', 'Age': 5}}